{namespace n=Tx_News2_ViewHelpers}
<!--
	=====================
		Partials/List/Item.html
-->
<n:Unique newsUid="{newsItem.uid}" view="{view}">
	<div class="article">
		<!-- header -->
		<div class="header">
			<h3>
				<n:link newsItem="{newsItem}" settings="{settings}">
					{newsItem.title}
				</n:link>
			</h3>
		</div>

		<!-- media preview element -->
		<div class="news2-img-wrap">
			<n:link newsItem="{newsItem}" settings="{settings}">
				<f:if condition="{newsItem.mediaPreviews}">
					<f:then>
						<f:render partial="Media/MediaPreview" arguments="{mediaElement: newsItem.mediaPreviews.0, settings:settings}" />
					</f:then>
					<f:else>
						<f:render partial="Media/MediaPreviewNotAvailable" arguments="{settings:settings}" />
					</f:else>
				</f:if>
			</n:link>
		</div>

		<!-- teaser text -->
		<div class="teaser-text">	
			<f:if condition="{newsItem.teaser}">
				<f:then>
					<n:format.striptags>
						<f:format.crop maxCharacters="{settings.cropLength}" respectWordBoundaries="true">{newsItem.teaser}</f:format.crop>
					</n:format.striptags>
				</f:then>
				<f:else>
					<f:format.html>
						<f:format.crop maxCharacters="{settings.cropLength}" respectWordBoundaries="true">{newsItem.bodytext}</f:format.crop>
					</f:format.html>
				</f:else>
			</f:if>
		</div>

		<!-- footer information -->
		<div class="footer" role="contentinfo">
			<p>
				<!-- date -->
				<span class="news2-list-date">
					<f:format.date format="d.m.Y">{newsItem.datetime}</f:format.date>
				</span>

				<!-- first category -->
				<f:if condition="{newsItem.firstCategory}">
					<span class="hidden">. </span>
					<span class="news2-list-category"><a href="#">{newsItem.firstCategory.title}</a></span>
				</f:if>

				<!-- author -->
				<f:if condition="{newsItem.author}">
					<span class="hidden">. </span>
					<span class="news2-list-author">
						<f:translate key="author" arguments="{0:newsItem.author}"/>
					</span>
				</f:if>
			</p>
		</div>
	</div>
	
</n:Unique>