{namespace n=Tx_News2_ViewHelpers}

<n:Unique newsUid="{newsItem.uid}" view="{view}">
	<div class="article">
		<div class="header">
			<h3>{newsItem.title}</h3>
		</div>
		<div class="news2-img-wrap">
			<a href="#"><img src="fileadmin/template/assets/dummys/teaser-4.jpg" width="282" height="188" alt="beschreibender Alternativtext" /></a>
		</div>
		<p class="teaser-text">
			<f:format.html>{newsItem.teaser}</f:format.html>
			<a class="news2-more-link" href="#">read more</a>
		</p>
		<div class="footer" role="contentinfo">
			<p>
				<span class="news2-list-date"><f:format.date format="d.m.Y">{newsItem.datetime}</f:format.date></span>
				<span class="hidden">. </span>
				<span class="news2-list-category"><a href="#">{newsItem.firstCategory.title}</a></span>

				<f:if condition="{newsItem.author}">
					<span class="hidden">. </span>
					created by <span class="news2-list-author">{newsItem.author}</span>
				</f:if>

			</p>
		</div>
	</div>
	
</n:Unique>