{namespace n=Tx_News2_ViewHelpers}

<n:Unique newsUid="{newsItem.uid}" view="{view}">
	<div class="article">
		<div class="header">
			<h3>{newsItem.title}</h3>
		</div>
		<div class="news2-img-wrap">
			<a href="#"><img src="fileadmin/template/assets/dummys/teaser-4.jpg" width="282" height="188" alt="beschreibender Alternativtext" /></a>
		</div>
		<p class="teaser-text">
			
			<f:if condition="{newsItem.teaser}">
				<f:then>
					<f:format.html>
						<f:format.crop maxCharacters="{settings.cropLength}" respectWordBoundaries="true">{newsItem.teaser}</f:format.crop>
					</f:format.html>
				</f:then>
				<f:else>
					<f:format.html>
						<f:format.crop maxCharacters="{settings.cropLength}" respectWordBoundaries="true">{newsItem.bodytext}</f:format.crop>
					</f:format.html>
				</f:else>
			</f:if>

			<f:render partial="List/LinkToDetail" arguments="{newsItem: newsItem, settings:settings, className:className, view:'list'}"/>
			
		</p>
		<div class="footer" role="contentinfo">
			<p>
				<span class="news2-list-date"><f:format.date format="d.m.Y">{newsItem.datetime}</f:format.date></span>

				<f:if condition="{newsItem.firstCategory}">
					<span class="hidden">. </span>
					<span class="news2-list-category"><a href="#">{newsItem.firstCategory.title}</a></span>
				</f:if>


				<f:if condition="{newsItem.author}">
					<span class="hidden">. </span>
					<span class="news2-list-author">
						<f:translate key="author" arguments="{0:newsItem.author}"/>
					</span>
				</f:if>

			</p>
		</div>
	</div>
	
</n:Unique>