{namespace n=Tx_News2_ViewHelpers}

<f:if condition="{newsItem.type} == 0">
	<span class="news2-more-link news2-more-link-news">
		<f:link.action pageUid="{settings.pidDetail}" action="detail" arguments="{news: newsItem}">
			<f:translate key="more-link" />
		</f:link.action>
	</span>
</f:if>
<f:if condition="{newsItem.type} == 1">
	<span class="news2-more-link news2-more-link-internalurl">
		<f:link.page pageUid="{newsItem.internalurl}">
			<f:translate key="more-link" />
		</f:link.page>
	</span>
</f:if>
<f:if condition="{newsItem.type} == 2">
	<span class="news2-more-link news2-more-link-externalurl">
		<f:link.external uri="{newsItem.externalurl}">
			<f:translate key="more-link" />
		</f:link.external>
	</span>
</f:if>
