{namespace n=Tx_News_ViewHelpers}

<f:be.container>
	<n:includeFile path="../typo3conf/ext/news/Resources/Public/Css/administration.css" />
	<div class="typo3-fullDoc">
		<div id="typo3-docheader">
			<div id="typo3-docheader-row1">
				<div class="buttonsleft">
					<f:render section="iconButtons" />
				</div>
				<div class="buttonsright">
					<f:be.buttons.shortcut />
				</div>
			</div>
			<div id="typo3-docheader-row2">
				<div class="docheader-row2-left">
				</div>
				<div class="docheader-row2-right">
					<f:be.pagePath />
					<f:be.pageInfo />
				</div>
			</div>
		</div>
		<div id="typo3-docbody">
			<div id="typo3-inner-docbody">
				<f:flashMessages class="tx-extbase-flash-message" />
				<div id="news-administration">
					<f:render section="content" />
				</div>
			</div>
		</div>
	</div>
</f:be.container>
