{namespace n=Tx_News_ViewHelpers}

<n:be.buttons.icon uri="{f:uri.action(action:'newNews')}" icon="actions-document-new"
	title="{f:translate(key:'LLL:EXT:news/Resources/Private/Language/locallang_be.xml:module.createNewNewsRecord')}" />
<n:be.buttons.icon uri="{f:uri.action(action:'index')}" icon="tcarecords-tx_news_domain_model_news-default"
	title="{f:translate(key:'LLL:EXT:news/Resources/Private/Language/locallang_be.xml:module.newsListing')}" />
<n:be.buttons.icon uri="{f:uri.action(action:'newsPidListing')}" icon="apps-clipboard-list"
	title="{f:translate(key:'LLL:EXT:news/Resources/Private/Language/locallang_be.xml:module.newsPidListing')}" />