{namespace n=Tx_News_ViewHelpers}

<tr class="db_list_normal">
	<td class="col-title">
		<a href="" title="UID: {newsItem.uid}" onclick="window.location.href='alt_doc.php?returnUrl='+T3_THIS_LOCATION+'&edit[tx_news_domain_model_news][{newsItem.uid}]=edit'; return false;">
			{newsItem.title}
		</a>
	</td>
	<td>
		<f:if condition="{newsItem.isTopNews}">
			<f:then>
				<f:translate key="LLL:EXT:news/Resources/Private/Language/locallang_be.xml:module.topNewsYes" />
			</f:then>
			<f:else>
				<f:translate key="LLL:EXT:news/Resources/Private/Language/locallang_be.xml:module.topNewsNo" />
			</f:else>
		</f:if>
	</td>
	<td>
		<f:format.date format="{dateformat}">{newsItem.dateTime}</f:format.date>
	</td>
	<td>
		<f:format.date format="{dateformat}">{newsItem.archive}</f:format.date>
	</td>
	<td>
		<f:format.date format="{dateformat}">{newsItem.tstamp}</f:format.date>
	</td>
	<td>
		<f:if condition="{newsItem.author}">
			<strong>
				<f:translate key="LLL:EXT:cms/locallang_tca.xml:pages.author_formlabel" />
				:</strong> {newsItem.author}<br />
		</f:if>
		<f:if condition="{newsItem.categories}">
			<strong>
				<f:translate key="LLL:EXT:news/Resources/Private/Language/locallang_db.xml:tx_news_domain_model_news.categories" />
				:</strong>
			<f:for each="{newsItem.categories}" as="category" iteration="iterator">
				<span title="UID: {category.uid}">{category.title}</span>
				<f:if condition="{iterator.isLast}">
					<f:then></f:then>
					<f:else>,</f:else>
				</f:if>
			</f:for>
		</f:if>
	</td>
</tr>