{namespace n=GeorgRinger\News\ViewHelpers}

<tr class="db_list_normal">
	<td class="col-title">
		<a href="#" class="t3-js-clickmenutrigger" data-table="tx_news_domain_model_news" data-uid="{newsItem.uid}" data-listframe="0">
				<n:be.buttons.iconForRecord table="tx_news_domain_model_news" uid="{newsItem.uid}" title="{newsItem.title}" />
		</a>
		<a href="{n:be.editRecord(parameters: 'edit[tx_news_domain_model_news][{newsItem.uid}]=edit')}" title="UID: {newsItem.uid}">
  			{newsItem.title}
  		</a>
	</td>
	<td class="text-nowrap">
		<f:if condition="{newsItem.isTopNews}">
			<f:then>
				<f:translate key="LLL:EXT:news/Resources/Private/Language/locallang_be.xlf:module.topNewsYes" />
			</f:then>
			<f:else>
				<f:translate key="LLL:EXT:news/Resources/Private/Language/locallang_be.xlf:module.topNewsNo" />
			</f:else>
		</f:if>
	</td>
	<td class="text-nowrap">
		<f:format.date format="{dateformat}">{newsItem.dateTime}</f:format.date>
	</td>
	<td class="text-nowrap">
		<f:format.date format="{dateformat}">{newsItem.archive}</f:format.date>
	</td>
	<td class="text-nowrap">
		<f:format.date format="{dateformat}">{newsItem.tstamp}</f:format.date>
	</td>
	<td>
		<f:if condition="{newsItem.author}">
			<strong>
				<f:translate key="LLL:EXT:frontend/Resources/Private/Language/locallang_tca.xlf:pages.author_formlabel" />
				:</strong> {newsItem.author}<br />
		</f:if>
		<f:if condition="{newsItem.categories}">
			<strong>
				<f:translate key="LLL:EXT:news/Resources/Private/Language/locallang_db.xlf:tx_news_domain_model_news.categories" />
				:</strong>
			<f:for each="{newsItem.categories}" as="category" iteration="iterator">
				<span title="UID: {category.uid}">{category.title}</span>
				<f:if condition="{iterator.isLast}">
					<f:then></f:then>
					<f:else>,</f:else>
				</f:if>
			</f:for>
		</f:if>
	</td>
</tr>