/.Build
/Build/Local/.phpunit.result.cache
/composer.lock
/.php_cs.cache
/Documentation-GENERATED-temp
/Resources/Private/Templates/News/Month.html
/Resources/Private/Templates/Styles/Twb/Templates/News/Month.html
/out.txt
