[receive]
	requireChangeId = true
[access "refs/*"]
	read = group TYPO3v4/Extensions/news-Leaders
[access "refs/for/refs/*"]
	push = group TYPO3v4/Extensions/news-Leaders
	pushMerge = group TYPO3v4/Extensions/news-Leaders
[access "refs/heads/*"]
	label-Code-Review = -2..+2 group TYPO3v4/Extensions/news-Leaders
	label-Verified = -1..+2 group TYPO3v4/Extensions/news-Leaders
	submit = group TYPO3v4/Extensions/news-Members
	create = group TYPO3v4/Extensions/news-Leaders
	owner = group TYPO3v4/Extensions/news-Leaders
	label-Code-Review = -2..+2 group TYPO3v4/Extensions/news-Members
	label-Verified = -1..+2 group TYPO3v4/Extensions/news-Members
	submit = group TYPO3v4/Extensions/news-Leaders
[access "refs/tags/*"]
	pushTag = group TYPO3v4/Extensions/news-Leaders
	create = group TYPO3v4/Extensions/news-Leaders
[project]
	state = active
[access "refs/for/refs/heads/*"]
	pushMerge = group TYPO3v4/Extensions/news-Members
	forgeCommitterIdentity = group TYPO3v4/Extensions/news-Leaders
[submit]
	action = cherry pick
	mergeContent = true
