<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:core="TYPO3\CMS\Core\ViewHelpers" data-namespace-typo3-fluid="true">
<div class="extra mb-3">
	<!-- author -->
	<f:if condition="{newsItem.author}">
		<i class="fas fa-user me-1"></i>
		<f:translate key="author" arguments="{0:newsItem.author}"/>
		|
	</f:if>

	<!-- date -->
	<i class="fas fa-calendar-alt me-1"> </i>
	<time itemprop="datePublished" datetime="{f:format.date(date:newsItem.datetime, format:'Y-m-d')}">
		<f:format.date format="{f:translate(key:'dateFormat')}">{newsItem.datetime}</f:format.date>
	</time>

	<!-- category -->
	<f:if condition="{newsItem.firstCategory}">
		| <i class="fas fa-folder-open me-1"></i>
		<span class="label label-info">{newsItem.firstCategory.title}</span>
	</f:if>

	<f:if condition="{newsItem.tags}">
		| <i class="fas fa-tags me-1"></i> <span class="news-list-tags me-1" itemprop="keywords">
		<f:for each="{newsItem.tags}" as="tag">
			<span class="label label-info me-1">{tag.title}</span>
		</f:for>
	</span>
	</f:if>
</div>
</html>
