<!DOCTYPE html>
<html lang="en">
    <head>
        <!--[if IE 8]><meta http-equiv="X-UA-Compatible" content="IE=EmulateIE8" /><![endif]-->
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="author" content="Georg Paul, g.paul@opendo.at" />
		
        <title>TYPO3 Template "news2"</title>
		
        <link rel="stylesheet" type="text/css" href="../assets/css/demo.css" media="screen" />
        <link rel="stylesheet" type="text/css" href="../assets/css/news2-basic.css" media="screen" />
		<link rel="stylesheet" type="text/css" href="../assets/css/news2-advanced.css" media="screen" />
		
		<!--[if lt IE 9]><script src="fileadmin/system/assets/js/html5.js?1276813077" type="text/javascript"></script><![endif]-->
		<!--[if lt IE 9]><script src="fileadmin/system/assets/js/ie-css3.js?1277296206" type="text/javascript"></script><![endif]-->

        <script type="text/javascript" src="../assets/js/jquery-1.4.2.min.js"></script>
        <script type="text/javascript" src="../assets/js/master.js"></script>
			
    </head>
    <body class="home">

        <!--[if gt IE 7]><div id="ie8" class="ie"><![endif]-->
		<!--[if IE 7]><div id="ie7" class="ie"><![endif]-->
		<!--[if lt IE 7]><div id="ie6" class="ie"><![endif]-->
        <div id="page">
            <header class="header" id="header" role="banner">
                <div class="inner">
					
					<a title="zur Website von 'TYPO3' wechseln" class="logo" id="logo-1" href="http://typo3.com"><img src="../assets/img/logo-typo3.gif" alt="TYPO3 Logo" /></a>
					<a title="zur Website von 'opendo' wechseln" class="logo" id="logo-3" href="http://opendo.at"><img src="../assets/img/opendo.gif" alt="opendo Logo" /></a>
					<a title="zur Website von 'Georg Ringer' wechseln" class="logo" id="logo-2" href="http://ringer.it"><img src="../assets/img/georg-ringer.gif" alt="Georg Ringer Logo" /></a>					
					<hr class="clear" />
					
                    <nav class="nav" role="navigation" id="main-nav">
                        <span class="navtitle hidden">Main navigation: </span>
                        <ul>
                        	<li><a class="active" href="#">About</a></li>
							<li><a href="#">Configuration</a></li>
                            <li><a href="#">BASIC templates</a></li>
							<li><a href="#">ADVANCED templates</a></li>
							<li><a href="#">Download extension</a></li>
                        </ul>
                        <hr class="clear" />
                    </nav>
					
                </div>
            </header>
           <div id="content" role="main">
                <div class="inner">
                	<h1 class="pagetitle">TYPO3 Extension "news2"</h1>   
					
					<div id="cms-content">
					              
						<div class="csc-default">
							<h1>About the extension</h1>
							<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. <a href="#">Aenean commodo</a> ligula eget dolor. Aenean massa. Cum penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. <a href="#">Sociis natoque</a> Nullam dictum felis eu pede mollis pretium. Integer tincidunt.</p>
							<p>Cum penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo.</p>
						</div>
						
	                    <div class="csc-default">             	
	                    	<h1>Configuration / Manual</h1>
							<ul>
								<li class="level-1">1.
									<a href="documentation/document-library/extension-manuals/rgtabs/2.2.4/view/1/1/">EXT: rgtabs</a>
									<ul>
										<li class="level-2">1.1. <a href="documentation/document-library/extension-manuals/rgtabs/2.2.4/view/1/1/">Introduction</a>
											<ul>
												<li class="level-3"><a href="documentation/document-library/extension-manuals/rgtabs/2.2.4/view/1/1/#id2508146">What does it do</a></li>
												<li class="level-3"><a href="documentation/document-library/extension-manuals/rgtabs/2.2.4/view/1/1/#id2508160">Screenshots</a></li>
												<li class="level-3"><a href="documentation/document-library/extension-manuals/rgtabs/2.2.4/view/1/1/#id2313012">Demonstration</a></li>
											</ul>
										</li>
										<li class="level-2">1.2. 
											<a href="documentation/document-library/extension-manuals/rgtabs/2.2.4/view/1/2/">Users manual</a>
											<ul>
												<li class="level-3"><a href="documentation/document-library/extension-manuals/rgtabs/2.2.4/view/1/2/#id2313043">Installation</a></li>
												<li class="level-3"><a href="documentation/document-library/extension-manuals/rgtabs/2.2.4/view/1/2/#id2313083">Installation with another Mootools EXT installed</a></li>
												<li class="level-3"><a href="documentation/document-library/extension-manuals/rgtabs/2.2.4/view/1/2/#id2313090">Using rgtabs</a></li>
												<li class="level-3"><a href="documentation/document-library/extension-manuals/rgtabs/2.2.4/view/1/2/#id2313216">FAQ</a></li>
											</ul>
										</li>
										<li class="level-2">1.3. 
											<a href="documentation/document-library/extension-manuals/rgtabs/2.2.4/view/1/3/">Configuration</a>
											<ul>
												<li class="level-3"><a href="documentation/document-library/extension-manuals/rgtabs/2.2.4/view/1/3/#id2313232">Reference</a></li>
											</ul>
										</li>
										<li class="level-2">1.4. 
											<a href="documentation/document-library/extension-manuals/rgtabs/2.2.4/view/1/4/">Advanced configuration</a>
											<ul>
												<li class="level-3"><a href="documentation/document-library/extension-manuals/rgtabs/2.2.4/view/1/4/#id2313546">Override the records with TS</a></li>
												<li class="level-3"><a href="documentation/document-library/extension-manuals/rgtabs/2.2.4/view/1/4/#id2313617">Override the title of the tabs with TS</a></li>
												<li class="level-3"><a href="documentation/document-library/extension-manuals/rgtabs/2.2.4/view/1/4/#id2313710">Graphical header for the tab menu</a></li>
											</ul>
										</li>
										<li class="level-2">1.5. <a href="documentation/document-library/extension-manuals/rgtabs/2.2.4/view/1/5/">Use the idea of rgtabs</a></li>
										<li class="level-2">1.6. <a href="documentation/document-library/extension-manuals/rgtabs/2.2.4/view/1/6/">HowTo: Tabs in TemplaVoila with printing preview.</a></li>
										<li class="level-2">1.7. <a href="documentation/document-library/extension-manuals/rgtabs/2.2.4/view/1/7/">You like the extension?</a></li>
										<li class="level-2">1.8. <a href="documentation/document-library/extension-manuals/rgtabs/2.2.4/view/1/8/">Known problems</a></li>
										<li class="level-2">1.9. <a href="documentation/document-library/extension-manuals/rgtabs/2.2.4/view/1/9/">Changelog</a></li>
									</ul>
								</li>
							</ul>							
	                    </div>
						
	                    <div class="csc-default">
	                    	<h1>BASIC templates</h1>

							<div class="column-1">
							    <div class="news2 news2-list-view">
							        <h2>view - list</h2>
							        <div class="article">
							            <div class="header">
							                <h3>Google buys Facebook</h3>
							            </div>
							            <div class="news2-img-wrap">
							                <a href="#"><img src="../assets/dummys/teaser-4.jpg" width="282" height="188" alt="beschreibender Alternativtext" /></a>
							            </div>
							            <p class="teaser-text">
							                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa... <a class="news2-more-link" href="#">read more</a>
							            </p>
							            <div class="footer" role="contentinfo">
							                <p>
							                    <span class="news2-list-date">31.12.2010</span>
							                    <span class="hidden">. </span>
							                    <span class="news2-list-category"><a href="#">News category</a></span>
							                    <span class="hidden">. </span>
							                    created by <span class="news2-list-author"><a href="mailto:darth@vader.com">Darth Vader</a></span>
							                </p>
							            </div>
							        </div>
							        <div class="article">
							            <div class="header">
							                <h3>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus et magnis dis lorem ipsum</h3>
							            </div>
							            <div class="news2-img-wrap">
							                <a href="#"><img src="../assets/dummys/teaser-2.jpg" width="282" height="188" alt="beschreibender Alternativtext" /></a>
							            </div>
							            <p class="teaser-text">
							                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa... <a class="news2-more-link" href="#">read more</a>
							            </p>
							            <div class="footer" role="contentinfo">
							                <p>
							                    <span class="news2-list-date">31.12.2010</span>
							                    <span class="hidden">. </span>
							                    <span class="news2-list-category"><a href="#">News category</a></span>
							                    <span class="hidden">. </span>
							                    created by <span class="news2-list-author"><a href="mailto:mad@max.com">Mad Max</a></span>
							                </p>
							            </div>
							        </div>
							        <div class="article">
							            <div class="header">
							                <h3>Chuck Norris - Lorem ipsum dolor sit amet</h3>
							            </div>
							            <div class="news2-img-wrap">
							                <a href="#"><img src="../assets/dummys/teaser-1.jpg" width="282" height="188" alt="beschreibender Alternativtext" /></a>
							            </div>
							            <p class="teaser-text">
							                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa... <a class="news2-more-link" href="#">read more</a>
							            </p>
							            <div class="footer" role="contentinfo">
							                <p>
							                    <span class="news2-list-date">31.12.2010</span>
							                    <span class="hidden">. </span>
							                    <span class="news2-list-category"><a href="#">News category</a></span>
							                    <span class="hidden">. </span>
							                    created by <span class="news2-list-author"><a href="mailto:chuck@norris.com">Chuck Norris</a></span>
							                </p>
							            </div>
							        </div>
							    </div>
							    <div class="news2 news2-category-view">
							        <h2>view - category menu</h2>
							        <ul>
							            <li><a href="#">Category 1</a><span class="hidden">. </span><span class="category-desc">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula.</span>
							                <ul>
							                    <li><a href="#">Category 1 a</a><span class="hidden">. </span><span class="category-desc">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</span></li>
							                    <li><a href="#">Category 1 b</a><span class="hidden">. </span><span class="category-desc">Aenean commodo ligula.</span></li>
							                </ul>
							            </li>
							            <li><a href="#">Category 2</a><span class="hidden">. </span><span class="category-desc">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula.</span></li>
							            <li><a href="#">Category 3</a><span class="hidden">. </span><span class="category-desc">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula.</span></li>
							            <li><a href="#">Category 4</a><span class="hidden">. </span><span class="category-desc">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula.</span></li>
							            <li><a href="#">Category 5</a><span class="hidden">. </span><span class="category-desc">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula.</span></li>
							        </ul>
							    </div>
							</div>
							<div class="column-2">
							    <div class="news2 news2-search">
							        <h2>view - search</h2>
							        <div class="news2-searchbox">
							            <form id="news2-search" action="" method="post">
							                <fieldset>
							                    <legend><span class="hidden">News search</span></legend>
							                    <input type="text" value="chuck noris" /><input type="submit" id="news2-search-sb" />
							                </fieldset>
							            </form>
							        </div>
							        <div class="news2-whatis">
							            <p>
							                Showing result 1 to 1 out of 1
							            </p>
							        </div>
							        <div class="news2-results">
							            <div class="article">
							                <div class="header">
							                    <h3>Chuck Norris - Lorem ipsum dolor sit amet</h3>
							                </div>
							                <div class="news2-img-wrap">
							                    <a href="#"><img src="../assets/dummys/teaser-1.jpg" width="282" height="188" alt="beschreibender Alternativtext" /></a>
							                </div>
							                <p class="teaser-text">
							                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa... <a class="news2-more-link" href="#">read more</a>
							                </p>
							            </div>
							        </div>
							        <div class="nav news2-browsebox" role="navigation">
							            <ul>
							                <li class="prev"><a href="#">&lt; zurück</a></li>
							                <li><a href="#">Seite 1</a></li>
							                <li class="current-page"><a href="#">Seite 2</a></li>
							                <li><a href="#">Seite 3</a></li>
							                <li class="next"><a href="#">nächste &gt;</a></li>
							            </ul>
							        </div>
							    </div>
							    <div class="news2 news2-latest-view">
							        <h2>view - latest</h2>
							        <div class="article">
							            <div class="header">
							                <h3>Google buys Facebook</h3>
							            </div>
							            <p class="teaser-text">
							                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus... <a class="news2-more-link" href="#">read more</a>
							            </p>
							            <div class="footer" role="contentinfo">
							                <p>
							                    <span class="news2-list-date">31.12.2010</span>
							                    <span class="hidden">. </span>
							                    <span class="news2-list-category"><a href="#">News category</a></span>
							                    <span class="hidden">. </span>
							                    created by <span class="news2-list-author"><a href="mailto:darth@vader.com">Darth Vader</a></span>
							                </p>
							            </div>
							        </div>
							        <div class="article">
							            <div class="header">
							                <h3>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus et magnis dis lorem ipsum</h3>
							            </div>
							            <p class="teaser-text">
							                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus... <a class="news2-more-link" href="#">read more</a>
							            </p>
							            <div class="footer" role="contentinfo">
							                <p>
							                    <span class="news2-list-date">31.12.2010</span>
							                    <span class="hidden">. </span>
							                    <span class="news2-list-category"><a href="#">News category</a></span>
							                    <span class="hidden">. </span>
							                    created by <span class="news2-list-author"><a href="mailto:mad@max.com">Mad Max</a></span>
							                </p>
							            </div>
							        </div>
							    </div>
							</div>
							<div class="column-3">
							    <div class="news2 news2-single">
							        <h2>view - single</h2>
							        <div class="article">
							            <div class="header">
							                <h3>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus et magnis dis lorem ipsum</h3>
							            </div>
							            <div class="footer" role="contentinfo">
							                <p>
							                    <span class="news2-list-date">31.12.2010</span>
							                    <span class="hidden">. </span>
							                    <span class="news2-list-category"><a href="#">News category</a></span>
							                    <span class="hidden">. </span>
							                    created by <span class="news2-list-author"><a href="mailto:mad@max.com">Mad Max</a></span>
							                </p>
							            </div>
							            <p class="teaser-text">
							                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus lorem ipsum dolor sit amet. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa
							            </p>
							            <div class="news2-img-wrap">
							                <img src="../assets/dummys/teaser-2.jpg" width="282" height="188" alt="beschreibender Alternativtext" />
							                <p class="news2-img-caption">
							                    Caption - Lorem ipsum dolor
							                </p>
							            </div>
							            <div class="news2-text-wrap">
							                <p>
							                    Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales, augue velit cursus nunc. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. 
							                </p>
							                <p>
							                    Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales, augue velit cursus nunc
							                </p>
							            </div>
							            <div class="news2-backlink-wrap">
							                <a title="#" href="#">back to news list</a>
							            </div>
							            <div class="news2-related-wrap">
							                <div class="news2-related news2-related-news">
							                    <h4>Related News</h4>
							                    <ul>
							                        <li><span class="news2-related-news-date">31.12.2010</span><span class="hidden">. </span><span class="news2-related-news-link"><a href="#">Lorem ipsum dolor sit amet</a></span></li>
							                        <li><span class="news2-related-news-date">06.10.2010</span><span class="hidden">. </span><span class="news2-related-news-link"><a href="#">Quisque rutrum. Aenean imperdiet etiam</a></span></li>
							                        <li><span class="news2-related-news-date">25.09.2010</span><span class="hidden">. </span><span class="news2-related-news-link"><a href="#">Related News 3</a></span></li>
							                        <li><span class="news2-related-news-date">31.12.2010</span><span class="hidden">. </span><span class="news2-related-news-link"><a href="#">Lorem ipsum dolor sit amet</a></span></li>
							                    </ul>
							                </div>
							                <div class="news2-related news2-related-files">
							                    <h4>Related Files</h4>
							                    <ul>
							                        <li><span class="news2-related-files-link"><a class="jpg" href="#">Lorem_ipsum.jpg</a></span><span class="hidden">. </span><span class="news2-related-files-size">853 K</span></li>
							                        <li><span class="news2-related-files-link"><a class="jpg" href="#">Lorem_ipsum.jpg</a></span><span class="hidden">. </span><span class="news2-related-files-size">853 K</span></li>
							                        <li><span class="news2-related-files-link"><a class="jpg" href="#">Lorem_ipsum.jpg</a></span><span class="hidden">. </span><span class="news2-related-files-size">853 K</span></li>
							                    </ul>
							                </div>
							            </div>
							        </div>
							    </div>
							</div>

							
	                    </div>
						
	                    <div class="csc-default">
	                    	<h1>ADVANCED templates</h1>
							
							<div class="column-1">
								<div class="news2 news2-list-view">
									<h2>view - list</h2>
									<article>																
										<header>
											<h3>Google buys Facebook</h3>
										</header>
										<div class="news2-img-wrap">
											<a href="#"><img src="../assets/dummys/teaser-4.jpg" width="282" height="188" alt="beschreibender Alternativtext" /></a>
										</div>
										<p class="teaser-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa... <a class="news2-more-link" href="#">read more</a></p>
										<footer role="contentinfo">
											<p>
												<span class="news2-list-date">31.12.2010</span>
												<span class="hidden"> . </span>
												<span class="news2-list-category"><a href="#">News category</a></span>
												<span class="hidden"> . </span>
												created by <span class="news2-list-author"><a href="mailto:darth@vader.com">Darth Vader</a></span>											
											</p>										
										</footer>
									</article>								
									<article>																
										<header>
											<h3>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus et magnis dis lorem ipsum</h3>
										</header>
										<div class="news2-img-wrap">
											<a href="#"><img src="../assets/dummys/teaser-2.jpg" width="282" height="188" alt="beschreibender Alternativtext" /></a>
										</div>
										<p class="teaser-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa... <a class="news2-more-link" href="#">read more</a></p>
										<footer role="contentinfo">
											<p>
												<span class="news2-list-date">31.12.2010</span>
												<span class="hidden"> . </span>
												<span class="news2-list-category"><a href="#">News category</a></span>
												<span class="hidden"> . </span>
												created by <span class="news2-list-author"><a href="mailto:mad@max.com">Mad Max</a></span>											
											</p>										
										</footer>
									</article>
									<article>																
										<header>
											<h3>Chuck Norris - Lorem ipsum dolor sit amet</h3>
										</header>
										<div class="news2-img-wrap">
											<a href="#"><img src="../assets/dummys/teaser-1.jpg" width="282" height="188" alt="beschreibender Alternativtext" /></a>
										</div>
										<p class="teaser-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa... <a class="news2-more-link" href="#">read more</a></p>
										<footer role="contentinfo">
											<p>
												<span class="news2-list-date">31.12.2010</span>
												<span class="hidden"> . </span>
												<span class="news2-list-category"><a href="#">News category</a></span>
												<span class="hidden"> . </span>
												created by <span class="news2-list-author"><a href="mailto:chuck@norris.com">Chuck Norris</a></span>											
											</p>										
										</footer>
									</article>																								
								</div>

								<div class="news2 news2-category-view">
									<h2>view - category menu</h2>
									<ul>
										<li>
											<a href="#">Category 1</a>
											<span class="hidden"> . </span>
											<span class="category-desc">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula.</span>
											<ul>
												<li>
													<a href="#">Category 1 a</a>
													<span class="hidden"> . </span>
													<span class="category-desc">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</span>
												</li>
												<li>
													<a href="#">Category 1 b</a>
													<span class="hidden"> . </span>
													<span class="category-desc">Aenean commodo ligula.</span>
												</li>												
											</ul>
										</li>
										<li>
											<a href="#">Category 2</a>
											<span class="hidden"> . </span>
											<span class="category-desc">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula.</span>
										</li>
										<li>
											<a href="#">Category 3</a>
											<span class="hidden"> . </span>
											<span class="category-desc">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula.</span>
										</li>
										<li>
											<a href="#">Category 4</a>
											<span class="hidden"> . </span>
											<span class="category-desc">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula.</span>
										</li>
										<li>
											<a href="#">Category 5</a>
											<span class="hidden"> . </span>
											<span class="category-desc">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula.</span>
										</li>																																								
									</ul>
								</div>
							</div>
							<div class="column-2">					
								<div class="news2 news2-search">
									<h2>view - search</h2>
									<div class="news2-searchbox">
										<form id="news2-search" action="" method="post">
											<fieldset>
												<legend><span class="hidden">News search</span></legend>
												<input type="text" value="chuck noris" />
												<input type="submit" id="news2-search-sb" />
											</fieldset>
										</form>
									</div>
									<div class="news2-whatis">
										<p>Showing result 1 to 1 out of 1</p>
									</div>
									<div class="news2-results">
										<article>																
											<header>
												<h3>Chuck Norris - Lorem ipsum dolor sit amet</h3>
											</header>
											<div class="news2-img-wrap">
												<a href="#"><img src="../assets/dummys/teaser-1.jpg" width="282" height="188" alt="beschreibender Alternativtext" /></a>
											</div>
											<p class="teaser-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa... <a class="news2-more-link" href="#">read more</a></p>
										</article>											
									</div>
									<nav class="nav news2-browsebox" role="navigation">
										<ul>
											<li class="prev"><a href="#">&lt; zurück</a></li>
											<li><a href="#">Seite 1</a></li>
											<li class="current-page"><a href="#">Seite 2</a></li>
											<li><a href="#">Seite 3</a></li>
											<li class="next"><a href="#">nächste &gt;</a></li>
										</ul>
									</nav>
								</div>							
								<div class="news2 news2-latest-view">
									<h2>view - latest</h2>
									<article>																
										<header>
											<h3>Google buys Facebook</h3>
										</header>
										<p class="teaser-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus... <a class="news2-more-link" href="#">read more</a></p>
										<footer role="contentinfo">
											<p>
												<span class="news2-list-date">31.12.2010</span>
												<span class="hidden"> . </span>
												<span class="news2-list-category"><a href="#">News category</a></span>
												<span class="hidden"> . </span>
												created by <span class="news2-list-author"><a href="mailto:darth@vader.com">Darth Vader</a></span>											
											</p>										
										</footer>
									</article>								
									<article>																
										<header>
											<h3>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus et magnis dis lorem ipsum</h3>
										</header>
										<p class="teaser-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus... <a class="news2-more-link" href="#">read more</a></p>
										<footer role="contentinfo">
											<p>
												<span class="news2-list-date">31.12.2010</span>
												<span class="hidden"> . </span>
												<span class="news2-list-category"><a href="#">News category</a></span>
												<span class="hidden"> . </span>
												created by <span class="news2-list-author"><a href="mailto:mad@max.com">Mad Max</a></span>											
											</p>										
										</footer>
									</article>								
								</div>
							</div>
							<div class="column-3">								
								<div class="news2 news2-single">
									<h2>view - single</h2>				
									<article>
										<header>
											<h3>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus et magnis dis lorem ipsum</h3>
										</header>
										<footer role="contentinfo">
											<p>
												<span class="news2-list-date">31.12.2010</span>
												<span class="hidden"> . </span>
												<span class="news2-list-category"><a href="#">News category</a></span>
												<span class="hidden"> . </span>
												created by <span class="news2-list-author"><a href="mailto:mad@max.com">Mad Max</a></span>											
											</p>										
										</footer>
										<p class="teaser-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus lorem ipsum dolor sit amet. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa</p>
										<div class="news2-img-wrap">
											<img src="../assets/dummys/teaser-2.jpg" width="282" height="188" alt="beschreibender Alternativtext" />
											<p class="news2-img-caption">Caption - Lorem ipsum dolor</p>
										</div>
										<div class="news2-text-wrap">																																						
											<p>Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales, augue velit cursus nunc. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. </p>
											<p>Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales, augue velit cursus nunc</p>
										</div>
										<div class="news2-backlink-wrap">
											<a title="#" href="#">back to news list</a>
										</div>
										<div class="news2-related-wrap">
											<div class="news2-related news2-related-news">
												<h4>Related News</h4>
												<ul>
													<li>
														<span class="news2-related-news-date">31.12.2010</span>
														<span class="hidden">. </span>														
														<span class="news2-related-news-link"><a href="#">Lorem ipsum dolor sit amet</a></span>
													</li>
													<li>
														<span class="news2-related-news-date">06.10.2010</span>														
														<span class="hidden">. </span>
														<span class="news2-related-news-link"><a href="#">Quisque rutrum. Aenean imperdiet etiam</a></span>
													</li>
													<li>
														<span class="news2-related-news-date">25.09.2010</span>														
														<span class="hidden">. </span>
														<span class="news2-related-news-link"><a href="#">Related News 3</a></span>
													</li>
													<li>
														<span class="news2-related-news-date">31.12.2010</span>														
														<span class="hidden">. </span>
														<span class="news2-related-news-link"><a href="#">Lorem ipsum dolor sit amet</a></span>
													</li>													
												</ul>
											</div>
											<div class="news2-related news2-related-files">
												<h4>Related Files</h4>
												<ul>
													<li>
														<span class="news2-related-files-link"><a class="jpg" href="#">Lorem_ipsum.jpg</a></span>
														<span class="hidden">. </span>
														<span class="news2-related-files-size">853 K</span>
													</li>
													<li>
														<span class="news2-related-files-link"><a class="jpg" href="#">Lorem_ipsum.jpg</a></span>
														<span class="hidden">. </span>
														<span class="news2-related-files-size">853 K</span>
													</li>
													<li>
														<span class="news2-related-files-link"><a class="jpg" href="#">Lorem_ipsum.jpg</a></span>
														<span class="hidden">. </span>
														<span class="news2-related-files-size">853 K</span>
													</li>													
												</ul>
											</div>																						
										</div>
									</article>
								</div>
							</div>
	                    </div>						
						
	                    <div class="csc-default">                    	
	                    	<h1>Download extension</h1>
							<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. <a href="#">Download compressed extension .T3X file</a>
	                    </div>
					
					</div>													
					<hr class="clear" />
                </div>
           </div>
            <footer class="footer" id="footer" role="contentinfo">
                <div class="inner">
                    <address id="footnote">
                        <p class="vcard">
                            &copy; <span class="org">Organisation</span>, <span class="street-address">Adresse</span>, <span class="postal-code">PLZ</span>
                            <span class="locality">Ort</span>, <a href="mailto:office@firmenname.com"><span class="email">office@firmenname.com</span></a>
                        </p>
                    </address>
                    <nav class="nav" role="navigation" id="footer-nav">
                        <span class="navtitle hidden">Footernavigation: </span>
                        <ul>
                            <li><a href="#">Impressum</a></li>
                            <li><a href="#">ringer.it</a></li>
                            <li><a href="#">opendo.at</a></li>
                        </ul>
                    </nav>
                    <hr class="clear" />
                </div>
            </footer>
        </div>
		<!--[if IE]></div><![endif]-->
    </body>
</html>
