<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:n="http://typo3.org/ns/GeorgRinger/News/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:layout name="Backend/Default"/>


<f:section name="content">
    <h1>
        {f:translate(key:'LLL:EXT:news/Resources/Private/Language/locallang_be.xlf:administration.donation.title')}
    </h1>
    <p class="lead">
        {f:translate(key:'LLL:EXT:news/Resources/Private/Language/locallang_be.xlf:administration.donation.lead_intro')}
        <br>

        <f:if condition="{counts._both}">
            <f:then>
                <f:translate
                        key="LLL:EXT:news/Resources/Private/Language/locallang_be.xlf:administration.donation.lead_full"
                        arguments="{0:counts.tx_news_domain_model_news,1:counts.category_relations}"/>
            </f:then>
            <f:else>
                <f:if condition="{counts.tx_news_domain_model_news}">
                    <f:then>
                        <f:translate
                                key="LLL:EXT:news/Resources/Private/Language/locallang_be.xlf:administration.donation.lead_news_only"
                                arguments="{0:counts.tx_news_domain_model_news}"/>
                    </f:then>
                    <f:else>
                        {f:translate(key:'LLL:EXT:news/Resources/Private/Language/locallang_be.xlf:administration.donation.lead_none')}
                    </f:else>
                </f:if>
            </f:else>
        </f:if>
    </p>

    <h2>
        {f:translate(key:'LLL:EXT:news/Resources/Private/Language/locallang_be.xlf:administration.donation.support')}</h2>
    <dl>
        <dt>{f:translate(key:'LLL:EXT:news/Resources/Private/Language/locallang_be.xlf:administration.donation.why')}</dt>
        <dd>{f:translate(key:'LLL:EXT:news/Resources/Private/Language/locallang_be.xlf:administration.donation.why.text')}</dd>
        <dt>{f:translate(key:'LLL:EXT:news/Resources/Private/Language/locallang_be.xlf:administration.donation.how')}</dt>
        <dd>{f:translate(key:'LLL:EXT:news/Resources/Private/Language/locallang_be.xlf:administration.donation.how.text')}</dd>
    </dl>

    <section class="card-container">
        <a class="card card-size-small" href="http://ringer.it/contact/" target="_blank"
           rel="noopener noreferrer">
            <div class="card-header">
                <div class="card-icon">
                    <core:icon identifier="ext-news-donation" size="default"/>
                </div>
                <div class="card-header-body">
                    <h3 class="card-title">{f:translate(key:'LLL:EXT:news/Resources/Private/Language/locallang_be.xlf:administration.donation.invoice')}</h3>
                    <span class="card-subtitle">{f:translate(key:'LLL:EXT:news/Resources/Private/Language/locallang_be.xlf:administration.donation.invoice.sub')}</span>
                </div>
                <div class="card-longdesc">
                    {f:translate(key:'LLL:EXT:news/Resources/Private/Language/locallang_be.xlf:administration.donation.invoice.text')}
                </div>
            </div>
        </a>
        <a class="card card-size-small" href="https://www.patreon.com/georgringer" target="_blank" rel="noopener noreferrer">
            <div class="card-header">
                <div class="card-icon">
                    <core:icon identifier="ext-news-patreon" size="default"/>
                </div>
                <div class="card-header-body">
                    <h3 class="card-title">Patreon</h3>
                    <span class="card-subtitle">{f:translate(key:'LLL:EXT:news/Resources/Private/Language/locallang_be.xlf:administration.donation.patreon.sub')}</span>
                </div>
                <div class="card-longdesc">
                    {f:translate(key:'LLL:EXT:news/Resources/Private/Language/locallang_be.xlf:administration.donation.patreon.text')}
                </div>
            </div>
        </a>
        <a class="card card-size-small" href="https://www.paypal.me/GeorgRinger/25" target="_blank"
           rel="noopener noreferrer">
            <div class="card-header">
                <div class="card-icon">
                    <core:icon identifier="ext-news-paypal" size="default"/>
                </div>
                <div class="card-header-body">
                    <h3 class="card-title">PayPal</h3>
                    <span class="card-subtitle">{f:translate(key:'LLL:EXT:news/Resources/Private/Language/locallang_be.xlf:administration.donation.paypal.sub')}</span>
                </div>
                <div class="card-longdesc">
                    {f:translate(key:'LLL:EXT:news/Resources/Private/Language/locallang_be.xlf:administration.donation.paypal.text')}
                </div>
            </div>
        </a>
        <a class="card card-size-small" href="https://www.amazon.de/hz/wishlist/ls/8F573K08TSDG" target="_blank"
           rel="noopener noreferrer">
            <div class="card-header">
                <div class="card-icon">
                    <core:icon identifier="ext-news-amazon" size="default"/>
                </div>
                <div class="card-header-body">
                    <h3 class="card-title">{f:translate(key:'LLL:EXT:news/Resources/Private/Language/locallang_be.xlf:administration.donation.amazon')}</h3>
                    <span class="card-subtitle">{f:translate(key:'LLL:EXT:news/Resources/Private/Language/locallang_be.xlf:administration.donation.amazon.sub')}</span>
                </div>
                <div class="card-longdesc">
                    {f:translate(key:'LLL:EXT:news/Resources/Private/Language/locallang_be.xlf:administration.donation.amazon.text')}
                </div>
            </div>
        </a>
    </section>

    <h3>{f:translate(key:'LLL:EXT:news/Resources/Private/Language/locallang_be.xlf:administration.donation.sponsors')}</h3>
    <p>{f:translate(key:'LLL:EXT:news/Resources/Private/Language/locallang_be.xlf:administration.donation.sponsors.text')}</p>
    <div class="row">
        <div class="col-md-3">
            <h4>Webconsulting GmbH</h4>
            <p>webconsulting.at</p>
            <img src="{f:uri.resource(path:'Images/Sponsors/webconsulting.png', extensionName:'news')}"
                 class="img-responsive"/>
        </div>
    </div>
</f:section>