<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:n="http://typo3.org/ns/GeorgRinger/News/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:layout name="Backend/Default"/>

<f:section name="content">
    <h1>
        <f:translate key="LLL:EXT:news/Resources/Private/Language/locallang_be.xlf:administration.title"/>
    </h1>
    <p class="lead">
        {f:translate(key:'LLL:EXT:news/Resources/Private/Language/locallang_be.xlf:administration.donation.lead_intro')}

        <f:if condition="{counts._both}">
            <br>
            <f:then>
                <f:translate
                        key="LLL:EXT:news/Resources/Private/Language/locallang_be.xlf:administration.donation.lead_full"
                        arguments="{0:counts.tx_news_domain_model_news,1:counts.category_relations}"/>
            </f:then>
            <f:else>
                <f:if condition="{counts.tx_news_domain_model_news}">
                    <f:then>
                        <f:translate
                                key="LLL:EXT:news/Resources/Private/Language/locallang_be.xlf:administration.donation.lead_news_only"
                                arguments="{0:counts.tx_news_domain_model_news}"/>
                    </f:then>
                    <f:else>
                        {f:translate(key:'LLL:EXT:news/Resources/Private/Language/locallang_be.xlf:administration.donation.lead_none')}
                    </f:else>
                </f:if>
            </f:else>
        </f:if>
    </p>
    <p>
        Since version <strong>10.0</strong>, the administration module is a
        separate extension called <strong><i>news_administration</i></strong> and not part of <i>news</i> anymore.
    </p>
    <h5>Reasons</h5>
    <ul class="list-unstyled">
        <li><i class="fa fa-check"></i> Less code to maintain within EXT:news</li>
        <li><i class="fa fa-check"></i> Only required for those sites which need the features</li>
        <li><i class="fa fa-check"></i> Separate releases for <i>news_administration</i></li>
        <li><i class="fa fa-check"></i> Ensure further and faster maintenance of EXT:news</li>
    </ul>

    <f:be.infobox iconName="check" title="Paid version" state="-1">
        <dl>
            <dt>Pricing</dt>
            <dd>
                <ul class="list-unstyled">
                    <li>€ 150.00 (ex. VAT) for 1 site</li>
                    <li>€ 450.00 (ex. VAT) for unlimited sites related to an agency or customer</li>
                </ul>
            </dd>
            <dt>Included</dt>
            <dd>Bugfix & feature releases, composer support</dd>
            <dt>Excluded</dt>
            <dd>Major versions</dd>
        </dl>
        <a href="mailto:mail@ringer.it?subject=EXT:news_administration" class="btn btn-default">
            <core:icon identifier="actions-envelope"/>
            Contact
        </a>
    </f:be.infobox>

    <h2>Features</h2>

    <div class="row form-group">
        <div class="col-4">
            <img src="{f:uri.resource(path: 'Images/Backend/records.png', extensionName: 'news')}" alt="Record listing"
                 style="max-width: 100%">
        </div>
        <div class="col-8">
            <h3>Record rendering</h3>
            <p>The rendering of the articles can be configured with various options</p>
            <ul class="list-unstyled">
                <li><i class="fa fa-check"></i> Disable the page tree for the whole module and define a default page.
                    This is the fasted way for editors to work with news records.
                </li>
                <li><i class="fa fa-check"></i> Define the fields which are shown
            </ul>
        </div>
    </div>

    <div class="row form-group">
        <div class="col-4">
            <img src="{f:uri.resource(path: 'Images/Backend/filter.png', extensionName: 'news')}"
                 style="max-width: 100%">
        </div>
        <div class="col-8">
            <h3>Powerful filters</h3>
            <p>Working with lots of records is getting easy when using filter to find the records fast.</p>
            <ul class="list-unstyled">
                <li><i class="fa fa-check"></i> Full textsearch</li>
                <li><i class="fa fa-check"></i> Filter by time range of, categories and all other most used attributes
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-4">
            <img src="{f:uri.resource(path: 'Images/Backend/pid-listing.png', extensionName: 'news')}"
                 style="max-width: 100%">
        </div>
        <div class="col-8">
            <h3>Page listing</h3>
            <p>Sometimes got a hard time to find the page on which news, categories or tags are saved? <br>
                This module will help you find those fast and easy.</p>
        </div>
    </div>
</f:section>
</html>
