{namespace n=Tx_News_ViewHelpers}

<f:layout name="Backend/Default" />

<f:section name="iconButtons">
	<f:render partial="Administration/Buttons" />
</f:section>


<f:section name="categoryTree">
	<ul>
		<f:for each="{categories}" as="category">
			<li>
				<f:form.checkbox id="category-{category.item.uid}"property="selectedCategories" value="{category.item.uid}" />
				<label for="category-{category.item.uid}" title="{category.item.uid}">{category.item.title}</label>
				
				<f:if condition="{category.children}">
					<f:render section="categoryTree" arguments="{categories: category.children}" />
				</f:if>
			</li>
		</f:for>
	</ul>
</f:section>

<f:section name="content">
	<f:form name="demand" object="{demand}">
	<div class="settings">
		<div class="form">
			<h3>Settings</h3>
			<div class="field">
				<label for="recursive">Recursive:</label>
				<f:form.select property="recursive" options="{0:0,1:1,2:2,3:3,4:4,5:5}" id="recursive" />
				<div class="clear"></div>
			</div>

			<div class="field">
				<label for="timeRestriction">Time Restriction</label>
				<f:form.textfield property="timeRestriction" id="timeRestriction" />
				<div class="clear"></div>
			</div>
			<div class="field">
				<label for="offset"><f:translate key="LLL:EXT:news/Resources/Private/Language/locallang_be.xml:flexforms_general.topNewsRestriction" /></label>
				<f:form.select property="topNewsRestriction" options="{
					0:'',
					1:'{f:translate(key: \'LLL:EXT:news/Resources/Private/Language/locallang_be.xml:flexforms_general.topNewsRestriction.1\')}',
					2:'{f:translate(key: \'LLL:EXT:news/Resources/Private/Language/locallang_be.xml:flexforms_general.topNewsRestriction.2\')}'
				}" id="topNewsRestriction" />
				<div class="clear"></div>
			</div>

			<div class="field">
				<label for="limit"><f:translate key="LLL:EXT:news/Resources/Private/Language/locallang_be.xml:flexforms_additional.limit" /></label>
				<f:form.textfield property="limit" id="limit" style="width:50px;" />
				<div class="clear"></div>
			</div>

			<div class="field">
				<label for="offset"><f:translate key="LLL:EXT:news/Resources/Private/Language/locallang_be.xml:flexforms_additional.offset" /></label>
				<f:form.textfield property="offset" id="offset" style="width:50px;" />
				<div class="clear"></div>
			</div>

			<div class="field" style="margin-top:10px;">
				<label for="sortingField"><f:translate key="LLL:EXT:news/Resources/Private/Language/locallang_be.xml:flexforms_general.orderBy" /></label>
				<f:form.select property="sortingField" options="{
					title:'{f:translate(key: \'LLL:EXT:news/Resources/Private/Language/locallang_be.xml:flexforms_general.orderBy.title\')}',
					datetime:'{f:translate(key: \'LLL:EXT:news/Resources/Private/Language/locallang_be.xml:flexforms_general.orderBy.datetime\')}',
					tstamp:'{f:translate(key: \'LLL:EXT:news/Resources/Private/Language/locallang_be.xml:flexforms_general.orderBy.tstamp\')}',
					archive:'{f:translate(key: \'LLL:EXT:news/Resources/Private/Language/locallang_db.xml:tx_news_domain_model_news.archive\')}',
					author:'{f:translate(key: \'LLL:EXT:cms/locallang_tca.xml:pages.author_formlabel\')}'
				}" id="sortingField" />
				<f:form.select property="sortingDirection" options="{
					asc:'{f:translate(key: \'LLL:EXT:news/Resources/Private/Language/locallang_be.xml:flexforms_general.orderDirection.asc\')}',
					desc:'{f:translate(key: \'LLL:EXT:news/Resources/Private/Language/locallang_be.xml:flexforms_general.orderDirection.desc\')}'
				}" id="sortingDirection" />
				<div class="clear"></div>
			</div>

			<f:form.submit value="{f:translate(key:'LLL:EXT:lang/locallang_common.xlf:search')}" class="submit" />
		</div>

		<div class="category-tree">
			<f:render section="categoryTree" arguments="{categories: categories}" />

			<f:if condition="{categories}">
				<div class="field">
					<label for="categoryConjunction">
						<f:translate key="LLL:EXT:news/Resources/Private/Language/locallang_be.xml:flexforms_general.categoryConjunction" />
					</label>
					<f:form.select property="categoryConjunction" options="{AND:'AND', OR:'OR', notor:'notor', notand:'notand'}" id="categoryConjunction" />
					<div class="clear"></div>
				</div>
			</f:if>

			<small><f:link.action action="newCategory">create new category</f:link.action></small>
		</div>

		<div class="clear"></div>
	</div>
	</f:form>

	<f:if condition="{news}">
		<f:then>
			<div class="result">
				<table class="typo3-dblist" id="sortable_table">
					<thead><tr class="t3-row-header">
						<td>
							<span><f:translate key="LLL:EXT:cms/locallang_ttc.xml:header_formlabel" /></span>
							<n:be.buttons.icon uri="#" onclick="{n:be.multiEditLink(items:news,column:'title')}" icon="actions-document-open" />
						</td>
						<td>
							<span><f:translate key="LLL:EXT:news/Resources/Private/Language/locallang_db.xml:tx_news_domain_model_news.istopnews" /></span>
							<n:be.buttons.icon uri="#" onclick="{n:be.multiEditLink(items:news,column:'istopnews')}" icon="actions-document-open" />
						</t>
						<th class="date">
							<span><f:translate key="LLL:EXT:news/Resources/Private/Language/locallang_db.xml:tx_news_domain_model_news.datetime" /></span>
							<n:be.buttons.icon uri="#" onclick="{n:be.multiEditLink(items:news,column:'datetime')}" icon="actions-document-open" />
						</td>
						<th class="date">
							<span><f:translate key="LLL:EXT:news/Resources/Private/Language/locallang_db.xml:tx_news_domain_model_news.archive" /></span>
							<n:be.buttons.icon uri="#" onclick="{n:be.multiEditLink(items:news,column:'archive')}" icon="actions-document-open" />
						</td>
						<td><f:translate key="LLL:EXT:news/Resources/Private/Language/locallang_be.xml:flexforms_general.orderBy.tstamp" /></td>
						<th class="nosort"></td>
					</tr></thead>
					<tbody>
						<f:for each="{news}" as="newsItem">
							<f:render partial="Administration/ListItem" arguments="{newsItem: newsItem}"/>
						</f:for>
					</tbody>
				</table>

<!--				<script type="text/javascript" src="../typo3conf/ext/news/Resources/Public/JavaScript/Contrib/table_sorter.js"></script>
				<script type="text/javascript">
					TableSortObserver.bindEventsToTableRow('sortable_table');
				</script>-->

			</div>
		</f:then>
		<f:else>
			<div class="typo3-message message-notice">
				<div class="message-body">
					<f:translate key="list_nonewsfound" />
				</div>
			</div>
		</f:else>
	</f:if>
</f:section>