<h2 style="font-weight: bold;font-size:15px;">Latest! => 7 days old</h2>

<f:if condition="{news}">
	<f:then>
		<table border="1">
			<f:render partial="List/ItemHeader" />
			
			<f:for each="{news}" as="newsItem">
				<f:cycle values="{0: 'odd', 1: 'even'}" as="className">
					<f:render partial="List/item" arguments="{newsItem: newsItem, settings:settings, className:className}"/>
				</f:cycle>
			</f:for>
		</table>
	</f:then>
	<f:else>
		<f:render partial="List/noNewsFound" arguments="{settings:settings}"/>
	</f:else>
</f:if>