{namespace n=Tx_News_ViewHelpers}
<f:layout name="General" />
<!--
	=====================
		Templates/News/List.html
-->

<f:section name="content">
	<f:if condition="{filters}">
		<h4><f:translate key="filter-headline" /></h4>

		<ul>
			<f:if condition="{filters.tags}">
				<li><strong><f:translate key="tags" />:</strong>
				<f:for each="{filters.tags}" as="tag" iteration="i">
					{f:if(condition: i.index, then: ', ')}{tag.title}
				</f:for>
				</li>
			</f:if>
		</ul>
	</f:if>

	<f:if condition="{news}">
		<f:then>
			<div class="news-list-view">
				<f:if condition="{settings.hidePagination}">
					<f:then>
						<f:for each="{news}" as="newsItem">
							<f:render partial="List/Item" arguments="{newsItem: newsItem, settings:settings}" />
						</f:for>
					</f:then>
					<f:else>
						<n:widget.paginate objects="{news}" as="paginatedNews" configuration="{settings.list.paginate}">
							<f:for each="{paginatedNews}" as="newsItem">
								<f:render partial="List/Item" arguments="{newsItem: newsItem, settings:settings}" />
							</f:for>
						</n:widget.paginate>
					</f:else>
				</f:if>
			</div>
		</f:then>
		<f:else>
			<div class="no-news-found">
				<f:translate key="list_nonewsfound" />
			</div>
		</f:else>
	</f:if>
</f:section>
