{namespace n=Tx_News2_ViewHelpers}
<f:layout name="General" />


<!--
	=====================
		News/Search.html
-->

<f:section name="content">
	<f:flashMessages />
	<f:if condition="{search}">
		<f:then>

			<f:if condition="{news}">
				<f:then>
					<div>
						<f:translate key="search-text" arguments="{1:'{f:count(subject:\'{news}\')}' , 2:'{search.searchString}'}" htmlEscape="TRUE" />
					</div

					<div class="news2 news2-list-view news2-search-view">
						<f:for each="{news}" as="newsItem">
								<f:render partial="List/item" arguments="{newsItem: newsItem, settings:settings, className:className, view:'searchresult'}"/>
						</f:for>
					</div>

				</f:then>
				<f:else>
					<f:translate key="search-noresult" />
				</f:else>
			</f:if>

		</f:then>
		<f:else>
			no search yet submitted...
		</f:else>
	</f:if>

	
</f:section>
