<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="General" />
<!--
	=====================
		Templates/News/SearchForm.html
-->

<f:section name="content">
	<div class="news-search-form">
		<form name="search" action="{f:uri.page(pageUid:'{settings.listPid}')}" method="get">
			<f:form.hidden name="id" value="{currentPageId}" />

			<div class="form-group">
				<label for="news-subject"><f:translate key="search-subject" /></label>
				<f:form.textfield id="news-subject" name="tx_news_pi1[search][subject]" value="{search.subject}" class="form-control"/>
			</div>

			<div class="form-group">
				<label for="news-minimumDate"><f:translate key="search-minimumDate" /></label>
				<f:form.textfield id="news-minimumDate" name="tx_news_pi1[search][minimumDate]" value="{search.minimumDate}" type="date" class="form-control"/>
			</div>

			<div class="form-group">
				<label for="news-maximumDate"><f:translate key="search-maximumDate" /></label>
				<f:form.textfield id="news-maximumDate" name="tx_news_pi1[search][maximumDate]" value="{search.maximumDate}" type="date" class="form-control"/>
			</div>

			<f:form.submit value="{f:translate(key:'search-start')}" class="btn btn-default"/>
		</form>
	</div>
</f:section>
</html>