
<f:flashMessages />
<f:if condition="{search}">
	<f:then>

		<f:if condition="{news}">
			<f:then>
				<div>
					<f:translate key="SearchResult" arguments="{1:'{f:count(subject:\'{news}\')}' , 2:'{search.searchString}'}" htmlEscape="TRUE" />
				</div>



				<f:for each="{news}" as="newsItem">
						<f:render partial="List/item" arguments="{newsItem: newsItem, settings:settings, className:className, view:'searchresult'}"/>
				</f:for>



			</f:then>
			<f:else>
				no news found
			</f:else>
		</f:if>

	</f:then>
	<f:else>
		no search yet submitted...
	</f:else>
</f:if>

