
<f:for each="{category}" as="cat">
	<f:if condition="{cat}">
		<ul>
			<li>
				{cat.title} <f:link.action pageUid="306" arguments="{category:category.uid}" controller="News">Link</f:link.action>
				<f:if condition="{category:cat.sub}">

					<f:for each="{category:cat.sub}" as="cat2">
						<f:if condition="{cat2}">
							<ul>
								<li>
									{cat2.title} <f:link.action pageUid="306" arguments="{category:cat2.uid}" controller="News">Link</f:link.action>


								</li>
							</ul>
						</f:if>

					</f:for>
				</f:if>

			</li>
		</ul>
	</f:if>

</f:for>