.news-administration .clear {
	clear: both;
}

.news-administration .category-tree {
	float: left;
	margin: 5px;
}

.news-administration .category-tree ul {
	margin: 1px 0 1px 10px;
}

.news-administration .form {
	float: left;
	border-right: 1px solid #ccc;
	padding-right: 10px;
}

.news-administration .settings {
	background-color: #EDEDED;
	border-top: 1px solid #CDCDCD;
	border-bottom: 1px solid #CDCDCD;
	padding: 12px;
	margin-bottom: 24px;
}

.news-administration .settings .field {
	padding: 2px 0;
}

.news-administration .settings .category-tree li {
	margin: 3px 0;
}

.news-administration .settings .category-tree li label {
	padding: 0;
	margin: 0;
}

.news-administration .settings .category-tree input {
	margin-right: 2px;
}

.news-administration .settings .form .field label {
	display: block;
	float: left;
	width: 150px;
}

.news-administration .settings .submit {
	margin: 5px 0 3px 150px;
}

.news-administration .result .item {
	padding: 1px;
}

.news-administration .result .item a {
	font-style: italic;
}

.news-administration .result .item a :hover {
	text-decoration: underline;
}

.news-administration .hide {
	opacity: 0.5;
}
