/**************************************/
/* default styles for news extension */
/**************************************/


/* global styles */
.news {
	font-size: 12px;
	font-family: Arial, sans-serif;
}
.news .hidden {
    position: absolute;
    left: -9999px;
    top: 0;
    width: 1px;
    height: 1px;
    margin: 0;
	overflow: hidden;
}
.news .clear { clear: both; }

.news .nav ul {
    float: left;
    display: inline;
	margin: 0;
}
.news .nav li {
    float: left;
    list-style: none;
	line-height: 1em;
}
.news .nav a {
    float: left;
    display: block;
	line-height: 1em;
}
.news .nav:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.news .nav { zoom: 1; }



/* list + search + latest view */
.news .article {
	padding-bottom: 15px;
	margin-bottom: 15px;
}
.news .article:last-child {
	padding-bottom: 0;
	margin-bottom: 0;
}
.news .article:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.news .article { zoom: 1; }


.news .article .news-img-wrap {
	float: left;
	width: 128px;
	margin: 3px 12px 5px 0;
	background: #fff;

}
.news .article .news-img-wrap a {
	display: block;
	float: left;
	padding: 4px;
	border: 1px solid #ddd;
	background: #fff;
}

.news .article .news-img-wrap img {
	float:left;
	width: 100% !important;
	height: auto;
}

.news .article h3 {
	font-size: 1.25em;
	margin-bottom: 0px;
}
.news .article .teaser-text {
	margin: 0 0 10px 0;
}

.news .footer {
	clear: both;
	padding: 10px 0 0 0;
	border-top: 1px solid #eee;
	margin-top: 15px;
	color: #888;
}
.news .footer p {
	line-height: 1em;
}
.news .footer span {
	display: inline-block;
	padding-right: 8px;
	margin-right: 8px;
	border-right: 1px solid #ddd;
}
.news .footer span:last-child {
	border-right: 0;
}
.news .footer .news-category a {
	text-transform: uppercase;
	color: #888;
}


/* category menu view */
.news-category-view ul li {
	padding: 5px 8px;
}
.news-category-view ul li li {
	padding: 2px 8px 2px 12px;

}
.news-category-view > ul > li:nth-child(even) {
	background: #f9f9f9;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
}
.news-category-view .category-desc {
	padding-left: 10px;
	margin-left: 10px;
	border-left: 1px solid #ddd;
	color: #888;
}


/* search view */
.news-whatis {
	margin: 15px 0;
	padding-bottom: 3px;
	border-bottom: 1px solid #eee;
}
.news-browsebox {
	margin: 15px 0;
	padding-top: 10px;
	border-top: 1px solid #eee;
}

.news-browsebox ul li { margin: 0 5px; }
.news-browsebox ul .prev {
	margin-right: 20px;
	margin-left: 0;
}
.news-browsebox ul .current-page a { font-weight: bold; }
.news-browsebox ul .next {
	margin-left: 20px;
	margin-right: 0;
}


/* single view */
.news-single .footer {
	margin-bottom: 20px;
	margin-top: 5px;
	padding: 10px 0 0 0;
	border-bottom: 0;
	border-top: 1px solid #eee;
}
.news-single .article .news-img-wrap {
	float: right;
	width: 282px;
	margin: 0 0 0 25px;
}
.news-single .teaser-text {
	font-size: 15px;
	color: #888;
}
.news-text-wrap {
	margin-bottom: 10px;
}
.news-single .article .news-img-wrap img { float: none; }
.news-img-caption { color: #888; }


/* related news + files */
.news-related-wrap {
	display: table;
	margin-top: 20px;
	width: 100%;
}
.news-related {
	width: 50%;
	padding: 15px;
	border: 1px solid #eee;
	display: table-cell;
}
.news-related ul li {
	line-height: 1em;
	margin-bottom: 12px;
}
.news-related h4 {
	margin-bottom: 10px;
}
.news-related ul li span {
	border-right:1px solid #DDDDDD;
	display:inline-block;
	margin-right:8px;
	padding-right:8px;
	color: #888;
}
.news-related ul li span:last-child {
	border-right: 0;
	padding-right: 0;
}
.news-related-files .news-related-files-link a {
	background-image: url(../img/background/file-icon-sprites.gif);
	background-repeat: no-repeat;
	padding: 6px 0 6px 38px;
}
.news-related-files ul li { margin-bottom: 20px; }
.news-related-files .news-related-files-link .jpg { background-position: 0 0;}

.news .page-navigation p {
	float:left;
}
.news .page-navigation ul{
	float:right;
}
.news .page-navigation ul li{
	float:left;
	display:block;
	padding:0 1px;
	background: none;
}
.news .page-navigation ul li a{
	display:block;
	padding:1px 2px;
}

.news-clear {
	clear:both;
}