<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="General" />
<!--
	=====================
		Templates/News/DateMenu.html
-->

<f:section name="content">
	<ul class="nav nav-sidebar news-menu-view">
		<f:for each="{data.single}" key="year" as="months">
			<li>
				{year}
				<ul>
					<f:for each="{months}" key="month" as="count">
						<f:if condition="{0:year, 1:month} == {0:overwriteDemand.year, 1:overwriteDemand.month}">
							<f:then>
								<li class="active">
							</f:then>
							<f:else>
								<li>
							</f:else>
						</f:if>
							<f:link.action action="list" pageUid="{listPid}" arguments="{overwriteDemand:{year: year, month: month}}"><f:translate key="month.{month}" /> {year}</f:link.action>
							({count} <f:translate key="{f:if(condition: '{count} == 1', then: 'entry', else: 'entries')}" />)
						</li>
					</f:for>
				</ul>
			</li>
		</f:for>
	</ul>
</f:section>
</html>
