<f:if condition="{mediaElement.type} == 0">
	<f:image
		src="uploads/tx_news2/{mediaElement.content}"
		title="{mediaElement.title}"
		alt="{mediaElement.title}"
		maxWidth="{settings.list.media.image.maxWidth}"
		maxHeight="{settings.list.media.image.maxHeight}"
	/>

</f:if>
<f:if condition="{mediaElement.type} == 1">
	<f:render partial="Detail/MediaVideo" arguments="{mediaElement: mediaElement}"/>
</f:if>
<f:if condition="{mediaElement.type} == 2">
	<f:render partial="Detail/MediaHtml" arguments="{mediaElement: mediaElement}"/>
</f:if>
<f:if condition="{mediaElement.type} == 3">
	<f:render partial="Detail/MediaDam" arguments="{mediaElement: mediaElement}"/>
</f:if>
