<div class="extra" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">
	<!-- author -->
	<f:if condition="{newsItem.author}">
		<span class="glyphicon glyphicon-user"></span>
		<f:translate key="author" arguments="{0:newsItem.author}" /> |
	</f:if>

	<!-- date -->          <span class="glyphicon glyphicon-calendar"> </span>
	<time datetime="{f:format.date(date:newsItem.datetime, format:'Y-m-d')}">
		<f:format.date format="{f:translate(key:'dateFormat')}">{newsItem.datetime}</f:format.date>
		<meta itemprop="datePublished" content="{f:format.date(date:newsItem.datetime, format:'Y-m-d')}" />
	</time>

	<!-- category -->
	<f:if condition="{newsItem.firstCategory}">
		| <span class="glyphicon glyphicon-tags"> </span>&nbsp;
		<span class="label label-info">{newsItem.firstCategory.title}</span>
	</f:if>

	<f:if condition="{newsItem.tags}">
		| <span class="glyphicon glyphicon-tags"> </span> <span class="news-list-tags" itemprop="keywords">
		<f:for each="{newsItem.tags}" as="tag">
			<span class="label label-info">{tag.title}</span>
		</f:for>
	</span>
	</f:if>
</div>
